

<html>
<head>
  <% provide(:title, "All users") %>
</head>
  <body>
  <div class="container">


    <h1>All users</h1>

    <%= will_paginate %> <!-- Users pagination -->

    <ul class="users">
      <% @users.each do |user| %>
        <li>
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>

    <%= will_paginate %>

    <%= yield %>

  </div>
  </body>


</html>


