<h1>Add New Category</h1>

<%= form_for :category, url: categorys_path do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %>
        prohibited this category being saved:
      </h2>
      <ul>
        <% @category.errors.full_message.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name_category %>
    <%= f.text_field(:name_category) %>
  </p>

  <p>
    <%= f.submit %> <%= link_to 'products', products_path %>
  </p>

<% end %>